<h1>Editing Andamento Solicitacao Recebida</h1>

<%= render 'form', andamento_solicitacao_recebida: @andamento_solicitacao_recebida %>

<%= link_to 'Show', @andamento_solicitacao_recebida %> |
<%= link_to 'Back', andamento_solicitacao_recebidas_path %>
